.strategy {
  margin-left: 10vw;
}
.card {
  border: 2px solid black;
  width: 80px;
  height: 100px;
  margin: 10px;
  background-color: antiquewhite;
}

.flex {
  display: flex;
}

.hand {
  text-align: left;
}

button {
  margin: 2vw;
}
